<a href="https://colab.research.google.com/github/SandhyaReddy3017/APSSDC/blob/main/training_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SUM OF CUBES**

In [1]:
m = int(input())
n = int(input())
total = 0
for i in range(m, n + 1):
  total += i ** 3
print(total)

2
5
224

**CALCULATE DISTANCE**

In [3]:
D = int(input())
score = 0
if D >= 50:
  score += 50 * 3
else:
  score += D * 3
if D > 50:
  if D >= 100:
    score += 50 * 5
  else:
    score += (D - 50) * 5
if D > 100:
  score += (D - 100) * 10
  score += (D - 100)

print(score)

120
620

**ARMSTRONG NUMBER**

In [5]:
n = int(input())
num_str = str(n)
num_digits = len(num_str)
digits_sum = 0
for digit in num_str:
  digits_sum += int(digit) ** num_digits
if digits_sum == n:
  print("Armstrong number")
else:
  print("Not an Armstrong number")

153
Armstrong number

**MINIMUM NUMBER**

In [12]:
A = int(input())
denominations = [2000, 500, 200, 50, 20, 5, 2, 1]
notes_count = {}
for  note in denominations:
  notes_count[note] = A // note
  A = A % note
for note in denominations:
  print(f"{note}:{notes_count[note]}", end=' ')

2257
2000:1 500:0 200:1 50:1 20:0 5:1 2:1 1:0

**PYIRAMID**

In [13]:
N = int(input())
for i in range(1, N + 1):
    if i == 1:
        print(i)
    else:
        print(i, ' ' * (2*i - 3), i, sep='')
for i in range(N - 1, 0, -1):
    if i == 1:
        print(i)
    else:
        print(i, ' ' * (2*i - 3), i, sep='')

4
1
2 2
3   3
4     4
3   3
2 2
1

**PERFECT SQUARE**

In [14]:
import math
A = int(input())
B = int(input())
start = math.ceil(math.sqrt(A))
end = math.floor(math.sqrt(B))
if end >= start:
    count = end - start + 1
else:
    count = 0
print(count)

9
100
8

**ODD EVEN**

In [16]:
def show_numbers(n):
    for i in range(n + 1):
        if i % 2 == 0:
            print(i, "EVEN")
        else:
            print(i, "ODD")
n = int(input())
show_numbers(n)

5
0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN
5 ODD

**REVERSE ORDER**

In [17]:

s = input()
for ch in reversed(s):
    print(ch)

SANDHYA
A
Y
H
D
N
A
S

# ** LIST**

In [21]:

N = int(input())
numbers = []
for _ in range(N):
    num = int(input())
    numbers.append(num)
print(numbers)

4
1
3
2
4
[1, 3, 2, 4]

**ADD A KEY VALUE**

In [23]:

Student_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}
key = input()
value = input()
Student_dict[key] = value
print(Student_dict)

Ramesh
cricket
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'Ramesh': 'cricket'}